
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

#outlined-size-small{
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: whitesmoke;
  color: #161a2b;
}

#title{
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

#inputform{
  margin-bottom: 32px;
  
}
#inputform ::placeholder {
  color: #e2e2e2;
}

#ul{
  margin-left: 42%;

}

#submit{
  margin-left: 10px;
  margin-top: 9px;
  padding: 10px;
  border-radius: 8px;
  background-color: #5d0cff;;
  border-color: #5d0cff;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px -140px;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );


  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}


.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.btn1{
  padding: 5px;
  margin-left: 20px;
  border-radius: 8px;
  border-color: #01579b;
}

.btn2{
  padding: 5px;
  margin-left: 10px;
  border-radius: 8px;
  border-color: #01579b;
}



#edditForm{
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 15px -180px;
 
}

#submitupdate{
  margin-left: 10px;
  margin-top: 9px;
  padding: 10px;
  border-radius: 8px;
  background-color: #5d0cff;;
  border-color: #5d0cff;
}